body { 
    margin: 0;
	padding: 5px;
	position: relative;
	background-color: #99ccff;
	float: left;
}
body:after {
	content: "";
    display: block;
    width: 350px;
    height: 350px;
    position: absolute;
    left: -48px;
    bottom: 0px;
    z-index: 100;
    background: url(http://www.netanimations.net/Animated_Xmas_tree-animation.gif) 0 0 no-repeat transparent;
    background-size: 350px 350px;
}

p {
	margin: 0;
	float: right;
}

#content {
    font-size: 60px;
    font-family: verdana;
    font-weight: 400;
	float: left;
}

.build {
    margin: 5px 0 0;
    border-style: solid;
    border-radius: 20px;
	float: left;
    width: 100%;
	box-sizing: border-box;
	position: relative;
    overflow: hidden;
}

.red {
    color: white;
    background-color: darkred;
}

.green {
    color: white;
    background-color: darkgreen;
}

.gray {
    color: white;
    background-color: gray;
}

.buildContent {
	float: left;
	width: 100%;
	text-align: center;
	position: relative;
    z-index: 1;
}

.buildContent a {
    text-decoration: none;
    margin: 0 0 0 10px;
}
.buildContent > a {
	background: none;
	line-height: 74px;
}

.buildAge {
    float: right;
    font-size: 30;
	margin: 5px 10px 0 0;
}

.subBuilds {
    margin: 0 10px 5px 10px;
    display:block;
    text-align: center;
}

.subBuild {
    font-size: 30px;
    font-weight: 400;
    padding: 5px 10px;
    border-style: solid;
    border-radius: 20px;
    display: inline-block;
	line-height: 32px;
}

.progress {
    width: 0%;
    display: inline;
    z-index: 0;
    position: absolute;
    opacity: 0.5;
	height: 74px;
}

.progress.red{
    background-color: red;
    color: red;
}

.progress.green{
    background-color: #009302;
    color: green;
}

