#content {
    font-size: 80px;
    font-family: verdana;
    font-weight: 400;
}

.red {
    color: red;
}

.green {
    color: green;
}

.subBuild {
    font-size: 40px;
    font-weight: 400;
}

.build {
    margin: 0px;
}

.subBuilds {
    margin: 0px;
    list-style-type: none;
}

.build a {
    text-decoration: none
}
